* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 5% auto;
}
.navbaar {
  max-width: 100%;
}
#foot {
  max-width: 100%;
}

#contactus {
  background-image: url('https://wallpaperaccess.com/full/2489630.jpg');
  max-width: 100%;
  color: black;
  margin-left: 2px;
}
#footer {
  display: block;
}
