#listofproducts {
  display: flex;
  flex-wrap: wrap;

  grid-column-start: 2;
  grid-column-end: 4;
}
#carousel {
  height: 300px;
  margin-bottom: 30px;
  margin-top: 20px;

  background: no-repeat center center scroll;
}
#search {
  margin-left: 500px;
  margin-top: 10px;
}

.productcard {
  margin-right: 10px;
  margin-bottom: 10px;
}
.listlength {
  margin-left: 550px;
}
#v-pills-tab {
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: khaki;
  margin-left: 10px;
}
.filterandproducts {
  display: grid;
  grid-template-columns: 180px auto auto auto;
}
.pagination {
  display: flex;
  justify-content: space-around;
}
.alert {
  width: 200px;
  margin-left: 550px;
  text-align: center;
}
.nav-link {
  color: grey;
}
.paginations {
  margin-left: 800px;
}
@media screen and (max-width: 600px) {
  #search {
    margin-left: 10px;

    margin-top: 10px;
  }
  .listlength {
    margin-left: 550px;
  }

  .pagination {
    display: flex;
    justify-content: space-around;
  }
  .alert {
    width: 200px;
    margin-left: 200px;
    text-align: center;
  }
}
