#listofproducts {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}
#carousel {
  height: 300px;
  margin-bottom: 30px;
  margin-top: 20px;

  background: no-repeat center center scroll;
}
#search {
  margin-left: 800px;
  margin-top: 10px;
}

.productcard {
  margin-right: 10px;
  margin-bottom: 10px;
}
