@media screen and (max-width: 600px) {
  .shopdetails img {
    max-width: 180px;

    max-height: 520px;
  }

  .shop_card {
    min-width: 210px;
    min-height: 520px;
  }

  .card-title,
  .card-text {
    font-size: small;
  }
}
